<div class="adminwrappercls">
  <app-header></app-header>
  <div class="main-content-wrap">
    <mat-card class="dashboard_body">



      <mat-card-content class="dashboard_wrapper">


        <mat-card-content class="dashboard_welcome_body">

          <mat-card-content class="dashboard_welcome_bg">
            <mat-card-content class="top_sec_inner_wrapper">
              <mat-card-title class="top_sec_title">
                GET THE TOP HEALTHCARE INFORMATION AND CONCIERGE TELEMEDICINE PHYSICIAN SERVICES WITH UNLIMITED NO VISIT
                COST ACCESS <span> 24 HOURS A DAY.</span>
              </mat-card-title>
              <p class="top_sec_para">Consult4Health is your online destination for education, opportunities and
                like-minded individuals that care deeply about their health. We offer an array of services and education
                on hundreds of different health topics. </p>
            </mat-card-content>
          </mat-card-content>

          <!-- sec 2 -->
          <mat-card-content class="secnd_content">
            <mat-card-content class="sec_inner_content">
              <span class="img_wtp">
                <img src="./assets/images/2nd_image.jpg">
              </span>
              <span class="content_wtp">
                <h2>Teledoc Services</h2>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                  into electronic typesetting, remaining essentially unchanged. </p>
                <button mat-flat-button class="cont_actionbtn"> check out the Teledoc info </button>
              </span>
            </mat-card-content>
          </mat-card-content>
          <!-- sec 3 -->
          <mat-card-content class="recent_article_w">
            <h1>Recent Articles</h1>
            <span class="recent_main_content">
              <mat-card-content class="article_inner">
                <span class="img_wr">
                  <img src="./assets/images/recentArticleImage1.jpg">
                </span>
                <h3>Lorem Ipsum is simply dummy text of the printing
                  and typesetting industry. </h3>

                <mat-card-content class="sub_header">
                  <span>John Doe</span>
                  <span>12/09/2019</span>
                </mat-card-content>
                <p class="description_text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                  into electronic typesetting, remaining essentially unchanged... <a routerLink="">Read More</a>

                </p>
                <mat-card-content class="social_share">
                  <button mat-flat-button>
                    <mat-icon fontSet="fontawesome" fontIcon="fa-facebook"></mat-icon>
                  </button>
                  <button mat-flat-button>
                    <mat-icon fontSet="fontawesome" fontIcon="fa-twitter"></mat-icon>
                  </button>
                  <button mat-flat-button>
                    <mat-icon fontSet="fontawesome" fontIcon="fa-pinterest"></mat-icon>
                  </button>
                  <button mat-flat-button>
                    <mat-icon fontSet="fontawesome" fontIcon="fa-linkedin"></mat-icon>
                  </button>
                  <button mat-flat-button>
                    <mat-icon fontSet="fontawesome" fontIcon="fa-envelope"></mat-icon>
                  </button>
                  <button mat-flat-button>
                    <mat-icon fontSet="fontawesome" fontIcon="fa-share-alt"></mat-icon>
                  </button>


                </mat-card-content>
              </mat-card-content>
              <mat-card-content class="article_inner">
                <span class="img_wr">
                  <img src="./assets/images/recentArticleImage2.jpg">
                </span>
                <h3>Lorem Ipsum is simply dummy text of the printing
                  and typesetting industry. </h3>

                <mat-card-content class="sub_header">
                  <span>John Doe</span>
                  <span>12/09/2019</span>
                </mat-card-content>
                <p class="description_text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                  into electronic typesetting, remaining essentially unchanged... <a routerLink="">Read More</a>

                </p>
                <mat-card-content class="social_share">
                  <button mat-flat-button>
                    <mat-icon fontSet="fontawesome" fontIcon="fa-facebook"></mat-icon>
                  </button>
                  <button mat-flat-button>
                    <mat-icon fontSet="fontawesome" fontIcon="fa-twitter"></mat-icon>
                  </button>
                  <button mat-flat-button>
                    <mat-icon fontSet="fontawesome" fontIcon="fa-pinterest"></mat-icon>
                  </button>
                  <button mat-flat-button>
                    <mat-icon fontSet="fontawesome" fontIcon="fa-linkedin"></mat-icon>
                  </button>
                  <button mat-flat-button>
                    <mat-icon fontSet="fontawesome" fontIcon="fa-envelope"></mat-icon>
                  </button>
                  <button mat-flat-button>
                    <mat-icon fontSet="fontawesome" fontIcon="fa-share-alt"></mat-icon>
                  </button>


                </mat-card-content>
              </mat-card-content>
            </span>


            <mat-toolbar class="view_all_action">
              <mat-toolbar-row><button mat-flat-button class="view_all_button">View All</button></mat-toolbar-row>
            </mat-toolbar>

          </mat-card-content>


          <!-- upcomming webiners -->
          <mat-card-content class="recent_article_w">
            <mat-toolbar class="upcoming_webners">
              <span> Upcoming Webinars </span>
            </mat-toolbar>

            <span class="webiners_banner_wrapper">
                <span class="img_wrapper">

                </span>

                <span class="content_section">
                  <span class="date_part">
                    <h2>Date</h2>
                    <p class="date">02.nov.19</p>
                    <p class="time">6pm edt</p>
                  </span>
                  <span class="content_part">
                    <mat-card-title>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-title>
                    <mat-card-subtitle> This Webinar is hosted by John Doe</mat-card-subtitle>

                    <span class="link_section">
                      <p>https://attendee.gotowebinar.com/rt/3568951361519439618 </p>
                      <button mat-flat-button>Register Now</button>
                    </span>
                  </span>
                </span>
            </span>







          </mat-card-content>
          <!-- end upcomming webiners -->
        </mat-card-content>
      </mat-card-content>
      <mat-card class="clear"></mat-card>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
