
@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




/*

.admgeneralcls .mat-card-header-text{margin: 0 !important;width: 100%;}
.admgeneralcls .mat-card-title{font-family: 'RalewayRegular'; font-size: 48px !important; line-height: 48px !important; text-transform: uppercase;  margin: 0px; padding: 0; margin-bottom:30px!important; color:#2a2b2c;display: flex; width: 100%; align-items: center; justify-content: space-between;}
.admgeneralcls .mat-card-title span span{font-family: 'RalewayBold'; padding-left: 10px;}
.admgeneralcls p{font-family: 'HelveticaNormal'; font-size: 18px; color:#2b2c2d; margin: 0px; padding: 0; line-height: 25px; font-weight: normal;}
.admgeneralcls p strong{ text-transform: uppercase;     font-family: 'HelveticaBold';}
.admgeneralcls{padding: 77px 0px; border-top: 1px solid #f5f5f5;}
.admgeneralcls .is-table-row{direction: rtl;}
.admgeneralcls .is-table-row p{direction: rtl; direction: initial;}
.admgeneralcls .is-table-row .highlightedtxt{direction: rtl; direction: initial;}
.admgeneralcls .is-table-row [class*="col-"]:nth-of-type(odd) {padding-right: 0; overflow: hidden; padding-left: 0px;}
.admgeneralcls .is-table-row [class*="col-"]:nth-of-type(even) {padding-left: 50px; padding-right:50px;}
.admgeneralcls .is-table-row [class*="col-"] img{width: 100%;}
.admgeneralcls ul.list-inline{margin: 0px !important;padding: 0px;}
.admgeneralcls ul.list-inline li{margin: 0px !important; padding: 0px !important;}
.admgeneralcls h1{font-family: 'RalewayExtraBold'; font-size: 60px !important; line-height: 60px !important;; text-transform: uppercase;  margin: 0px; padding: 0; margin-bottom: 18px; margin-top: 25px; color:#fff; white-space: normal !important;}
.admgeneralcls h1 span{color:#fed204;font-family: 'HelveticaBold';}
.admgeneralcls h2{font-family: 'HelveticaBold'; font-size: 30px !important; line-height: 36px !important;; text-transform: uppercase;  margin: 0px; padding: 0; margin-bottom: 18px; margin-top: 25px; color:#fff; white-space: normal !important;}




.admcls.mat-card{padding: 0 !important;}


.admcls .topblock{background: rgba(255,255,255,1)!important;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)))!important;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 )!important; border: none!important; box-shadow: none!important; margin: 0!important; padding: 0px!important; border-radius: 0px!important;}

.admcls .headerlogo{ width: 230px;  float: left; background: #222222!important; padding: 10px 2px;}

.admcls .headerlogo img{ width: 90%; display: block; margin: 0 auto;}

.admcls .topblock .dehazeicon {
    color: #222222;
    display:block;
    margin: 24px 0 0 0px!important;
    font-size: 30px; cursor: pointer;
}

.clear{ clear: both; overflow: hidden; background: none!important; border: none!important; box-shadow: none!important; margin: 0!important; padding: 0px!important; border-radius: 0px!important;}


.admcls .footerblock{background: #222222!important; border: none!important; box-shadow: none!important; margin: 0!important; padding: 10px!important; border-radius: 0px!important;}

.admcls .footerblock p{ display: block; margin: 0; padding: 0; text-align: center;   font-size: 14px; color: #fff;}

.admcls .accountsettingbtn{   float: right;   font-size: 14px!important; color: #fff!important; margin: 22px 0 0 0!important;}

.admcls .personicon {
    border-radius: 100px; background:#fb4a32;
    border: solid 1px #222222;
    padding: 5px; color: #222222; color: #fff;
}

.admcls .accountsettingbtn span{ padding: 0 10px 0 0; color: #222222;  font-size: 14px;}

.admcls .accountsettingmenu{margin-top: 10px;}

.admcls .accountsettingmenu .mat-menu-content{  min-width:150px;   background: #2c3439; padding: 5px!important; }

.admcls .accountsettingmenu .mat-menu-content button{ height: 35px; line-height: 35px; text-align: center; padding: 0px; font-size: 16px!important; color: #fff!important; border-bottom: solid 1px #111;}
.admcls .accountsettingmenu .mat-menu-content button:last-of-type{ border: none;}

.admcls .accountsettingmenu .mat-menu-content button:hover{     background-color: #fb4a32; color: #fff!important;}

.admcls .accountsettingmenu .mat-menu-content:before {
    content: ' \26F0';
    display: block;
    position: absolute;
    top: 0px;
    left: 38px;
    color: #2c3439;
}

.admcls .dashboard_body{ display:flex !important; background: #fff!important; border: none!important; box-shadow: none!important; margin: 0!important; padding: 0px!important; border-radius: 0px!important; width: 100%; justify-content: space-between; }

.admcls .dashboard_left{background: #2c3439 url("../images/leftbody_bg.jpg")  center top!important; border: none!important; box-shadow: none!important; margin: 0!important; padding: 0px!important; border-radius: 0px!important; width: 80px; display: inline-flex !important;}

.admcls .dashboard_wrapper{ padding: 0px; vertical-align: top; display: inline-flex !important; width: 100%;}

.admcls .dashboard_left button{ font-size: 0px!important;  border-top: solid 1px #3f4f5c; border-bottom: solid 1px #000; padding: 0;transition: all 700ms!important; height: 80px!important; line-height: 80px!important; }

.admcls .dashboard_left hr{ height: 1px; background: #3d4348; border: none;}


.admcls .dashboard_left {
    position: relative!important;
    transition: all 700ms!important;
    margin-left: 0px!important;
    width: 80px;
    z-index: 99!important;
    flex-wrap: wrap;
}

.admcls .dashboard_left app-bk-leftdiv{
    margin-left: 0px!important;
    width: 80px;
    transition: all 700ms!important;
}




.admcls .topblock .mat-list{ display: inline-block; float: left; margin: 22px 0 0 10px; padding: 0px;}
.admcls .topblock .mat-list .mat-list-item{ display: inline-block; float: left; width: auto; margin: 0px; padding: 0px; height: auto;}

.admcls .topblock .mat-list .mat-list-item .mat-list-item-content{ margin: 0px; padding: 0px;}

.admcls .topblock .mat-list .mat-list-item .mat-list-item-content button{     margin: 0px 5px;
    padding: 0px 15px;
    height: 32px;
    line-height: 32px;  font-size: 14px!important; color: #111!important;}

    .admcls .topmenudevider{    display: block;
 width: 30px; padding-right: 15px;
    height: 78px; float: left;
    margin: 0 15px 0 15px; -webkit-box-shadow: 11px 0px 10px -8px rgba(163,153,163,1);
    -moz-box-shadow: 11px 0px 10px -8px rgba(163,153,163,1);
    box-shadow: 11px 0px 10px -8px rgba(163,153,163,1);}

    .admcls .topblock .mat-list .mat-list-item .mat-list-item-content button:hover{color: #fff!important; background: #dc4430!important;}
    .admcls .topblock .mat-list .mat-list-item .mat-list-item-content button:hover{color: #fff!important; background: #dc4430!important;}
    .admcls .topblock .mat-list .mat-list-item .mat-list-item-content button.active{ color: #fff!important; background: #dc4430!important;}

    .admcls .dashboard_left button{ background-size: 40px!important;   -webkit-filter: grayscale(80%);
    filter: grayscale(80%); position: relative;     overflow: inherit;}

    .admcls .dashboard_left button:hover{ background-size: 40px!important;   -webkit-filter: grayscale(0%);
    filter: grayscale(0%);}

    .admcls .dashboard_left button span{ display: block;}
.dashboard_left button span:hover{ background:  url("../images/dashboard_menuhover2.png") no-repeat right bottom!important; background-size: 25px!important;}

.admcls .dashboard_left button:nth-of-type(1){ background: url("../images/admin_link1_hover.png") no-repeat center center; }
.admcls .dashboard_left button:nth-of-type(1):hover{ background: url("../images/admin_link1.png") no-repeat center center; }

.admcls .dashboard_left button:nth-of-type(2){ background: url("../images/admin_link2_hover.png") no-repeat center center; }
.admcls .dashboard_left button:nth-of-type(2):hover{ background: url("../images/admin_link2.png") no-repeat center center; }


.admcls .dashboard_left button:nth-of-type(3){ background: url("../images/admin_link3_hover.png") no-repeat center center; }
.admcls .dashboard_left button:nth-of-type(3):hover{ background: url("../images/admin_link3.png") no-repeat center center; }

.admcls .dashboard_left button:nth-of-type(4){ background: url("../images/admin_link4_hover.png") no-repeat center center; }
.admcls .dashboard_left button:nth-of-type(4):hover{ background: url("../images/admin_link4.png") no-repeat center center; }


.admcls .dashboard_left button:nth-of-type(5){ background: url("../images/admin_link5_hover.png") no-repeat center center; }
.admcls .dashboard_left button:nth-of-type(5):hover{ background: url("../images/admin_link5.png") no-repeat center center; }


.admcls .dashboard_left button:nth-of-type(6){ background: url("../images/admin_link6_hover.png") no-repeat center center; }
.admcls .dashboard_left button:nth-of-type(6):hover{ background: url("../images/admin_link6.png") no-repeat center center; }


.admcls .dashboard_left button label {
    display: block;
    width: 0px;
    position: absolute;
    left: 80px;
    top: -1px;

    background: #fb4a32!important;
    color: #fff;
    font-size: 16px;
    padding: 0px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;

    padding:13px 0px; margin-left: 0px;  cursor: pointer;

 z-index: 0!important;
    opacity: 0.7;
    transform: scale(0.85);
    transition: all 700ms;
}



.admcls .dashboard_left button:hover label{ width: 180px; padding:13px 15px;  -webkit-filter: grayscale(0%);
    filter: grayscale(0%);  opacity: 1;
    transform: scale(1); margin-left: 0px;
}


.clearmenu{ display: none!important;}

.admcls .topmenudevider2{ display: none;}

.admcls .topblock input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}



.admcls .dashboard_welcome_body{    width: 100%; margin: 0px!important; background: rgba(250,242,237,1);
    background: -moz-linear-gradient(top, rgba(250,242,237,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,242,237,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(250,242,237,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(250,242,237,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,242,237,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(250,242,237,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf2ed', endColorstr='#ffffff', GradientType=0 ); border-top: solid 1px #bbbbbb!important;}


    .admcls .dashboard_welcome_bg{ margin: 0!important; padding: 0!important; background: url("../images/dblockimg1.png") no-repeat right center;    width: 100%; position: relative; }



    .admcls .dashboard_welcome_textblock{ display: table-cell; height: 100vh; width: 100%; vertical-align: middle; padding: 15px 450px 15px 100px; height: 770px;}


    .admcls .dashboard_welcome_textblock{ display: table-cell; height: 100vh; width: 100%; vertical-align: middle; padding: 15px 450px 15px 100px; height: 770px;}
    .admcls .dashboard_welcome_textblock{ display: table-cell; height: 100vh; width: 100%; vertical-align: middle; padding: 15px 450px 15px 100px; height: 770px;}
    .admcls .dashboard_welcome_textblock{ display: table-cell; height: 100vh; width: 100%; vertical-align: middle; padding: 15px 450px 15px 100px; height: 770px;}
    .admcls .dashboard_welcome_textblock{ display: table-cell; height: 100vh; width: 100%; vertical-align: middle; padding: 15px 450px 15px 100px; height: 770px;}
    .admcls .dashboard_welcome_textblock{ display: table-cell; height: 100vh; width: 100%; vertical-align: middle; padding: 15px 450px 15px 100px; height: 770px;}
    .admcls .dashboard_welcome_textblock{ display: table-cell; height: 100vh; width: 100%; vertical-align: middle; padding: 15px 450px 15px 100px; height: 770px;}
    .admcls .dashboard_welcome_textblock h1 { margin: 0px;  padding: 0 0 20px 0;}
    .admcls .dashboard_welcome_textblock h1 { margin: 0px;  padding: 0 0 20px 0;
    font-size: 70px;
    font-weight: bold;
    color: #343c5c;
}

.admcls .dashboard_welcome_textblock h1:after{ content: ''; width: 180px; display: block; height: 2px; background: #222;}


.admcls .dashboard_welcome_textblock h2 { margin: 0px;  padding: 0 0 15px 0;
    font-size: 40px;
    font-weight: bold;
    color: #fb4a32;
}


.admcls .dashboard_welcome_textblock p { margin: 0px;  padding:0;
    font-size: 20px; line-height: 30px;
    color: #222;
}



.main-content-wrap.mat-card {
  width: 100%;
  margin-top: 80px;
  transition: all 0.24s ease-in-out;
  padding: 7rem 20px;
  position: relative;
  min-height: calc(100vh - 80px);
  background: #fff;
} */



i{font-family:'iconsmind'!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.admgeneralcls .mat-card-header-text{margin:0!important;width:100%}
.admgeneralcls .mat-card-title{font-family:'RalewayRegular';font-size:48px!important;line-height:48px!important;text-transform:uppercase;margin:0;padding:0;margin-bottom:30px!important;color:#2a2b2c;display:flex;width:100%;align-items:center;justify-content:space-between}
.admgeneralcls .mat-card-title span span{font-family:'RalewayBold';padding-left:10px}
.admgeneralcls p{font-family:'HelveticaNormal';font-size:18px;color:#2b2c2d;margin:0;padding:0;line-height:25px;font-weight:400}
.admgeneralcls p strong{text-transform:uppercase;font-family:'HelveticaBold'}
.admgeneralcls{padding:77px 0;border-top:1px solid #f5f5f5}
.admgeneralcls .is-table-row{direction:rtl}
.admgeneralcls .is-table-row p{direction:rtl;direction:initial}
.admgeneralcls .is-table-row .highlightedtxt{direction:rtl;direction:initial}
.admgeneralcls .is-table-row [class*="col-"]:nth-of-type(odd){padding-right:0;overflow:hidden;padding-left:0}
.admgeneralcls .is-table-row [class*="col-"]:nth-of-type(even){padding-left:50px;padding-right:50px}
.admgeneralcls .is-table-row [class*="col-"] img{width:100%}
.admgeneralcls ul.list-inline{margin:0!important;padding:0}
.admgeneralcls ul.list-inline li{margin:0!important;padding:0!important}
.admgeneralcls h1{font-family:'RalewayExtraBold';font-size:60px!important;line-height:60px!important;text-transform:uppercase;margin:0;padding:0;margin-bottom:18px;margin-top:25px;color:#343c5c;white-space:normal!important}
.admgeneralcls h1 span{color:#fed204;font-family:'HelveticaBold'}
.admgeneralcls h2{font-family:'HelveticaBold';font-size:48px;color:#343c5c;text-transform:uppercase;margin:0;padding:0;margin-bottom:18px;white-space:normal!important}
.admgeneralcls h2:after{content:'';display:block;width:185px;height:2px;background:#12c3e3}

.adminwrappercls .main-content-wrap{transition:all .24s ease-in-out; padding:85px 20px 20px;position:relative;min-height:calc(100vh - 80px);background:#fff}
.mat-menu-content{padding:0!important;border-radius:0!important;background-color:#fff;color:#fff}
.userwrapper{width:36px;height:36px;border-radius:50%;min-width:inherit;line-height:36px}

.mat-card{background:#fff!important}
.mat-dialog-content{padding:10px!important;border-radius:0;overflow:hidden!important}
.mat-dialog-content .mat-dialog-title{background-color:#4f4f4f;border:0;padding:.35em;color:#fff}
.mat-dialog-content .mat-card{transition:none!important;display:flex!important;position:relative;padding:5px;border-radius:0;align-items:center}
.mat-dialog-content .mat-card .mat-card-header{white-space:normal;word-break:break-word}
.mat-dialog-content .mat-card .mat-card-content{white-space:normal;word-break:break-word}
.mat-dialog-content .mat-card-header .mat-card-title{margin-bottom:0;font-size:16px}
.mat-dialog-content .mat-dialog-actions{margin-bottom:0;justify-content:center}
.mat-dialog-content .mat-dialog-actions button{display:inline-block;height:auto;background:#c33;font-size:18px;color:#fff!important;text-transform:uppercase;font-family:'Ralewaybold';text-decoration:none!important;line-height:normal;text-align:center;margin:0 auto;white-space:normal;margin-top:10px;padding:12px 10px;border-radius:0!important}
.cdk-global-overlay-wrapper{align-items:center!important}
.cdk-global-overlay-wrapper .mat-bottom-sheet-container bottom-sheet .mat-nav-list{display:flex;padding-top:0!important}
.mat-bottom-sheet-container bottom-sheet .mat-nav-list .mat-list-item{display:inline-block;height:auto;background:#c33;font-size:18px;color:#fff!important;text-transform:uppercase;font-family:'Ralewaybold';text-decoration:none!important;line-height:normal;text-align:center;margin:5px;white-space:normal;padding:12px 10px;border-radius:0!important}
.mat-bottom-sheet-container bottom-sheet .mat-nav-list{text-align:center}
.mat-dialog-container .mat-dialog-actions button{display:inline-block;height:auto;background:#c33;font-size:18px;color:#fff!important;text-transform:uppercase;font-family:'Ralewaybold';text-decoration:none!important;line-height:normal;text-align:center;margin:0 auto;white-space:normal;margin-top:10px;padding:12px 10px;border-radius:0!important}
.mat-dialog-container .mat-card-header .mat-card-title{margin-bottom:0;font-size:16px;font-weight:600}
.mat-dialog-content{padding:0 24px!important;box-shadow:none!important}
.mat-form-field{margin:0 10px}

.admcls .mat-card{padding:0!important;border-radius:0!important;box-shadow:none}
.admcls .header{position:fixed;width:100%;height:63px;box-shadow:0 1px 15px rgba(0,0,0,0.04),0 1px 6px rgba(0,0,0,0.04);display:flex;align-items:stretch;flex-wrap:wrap;justify-content:space-between;background:#fafafa;z-index:100}
.admcls .header .toolbar-row{padding:0!important}
.admcls .header .toolbar-row .logo{width:234px;background:#fff;padding:0 13px;display:flex;align-items:center}
.admcls .header .toolbar-row .logo img{max-width:100%}
.admcls .leftSidenav{position:fixed;top:63px!important;height:calc(100vh - 80px);background:url(../images/leftbody_bg.jpg) repeat center center;box-shadow:0 4px 20px 1px rgba(0,0,0,0.06),0 1px 4px rgba(0,0,0,0.08);left:0!important;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease;overflow-y:scroll;height:100%}
.admcls .leftSidenav.open{left:0}
.admcls .leftSidenav{left:calc(-120px - 20px);z-index:90;transition:all .24s ease-in-out}
.admcls .sidebar-left-secondary.open{left:0}
.admcls .sidebar-left-secondary{left:calc(-220px - 20px);z-index:89;width:220px;padding:.75rem 0;background:#fff;position:fixed;top:63px!important;height:calc(100vh - 80px);background:#f3f3f3;left:75px;box-shadow:0 4px 20px 1px rgba(0,0,0,0.06),0 1px 4px rgba(0,0,0,0.08)}
.admcls .leftSidenav.open{left:0;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease}
.admcls .leftSidenav .logo{display:none}
.admcls .leftSidenav .navigation-left{list-style:none;text-align:center;width:75px;height:100%;margin:0;padding:0}
.admcls .leftSidenav .navigation-left .nav-item{position:relative;display:block;width:100%;color:#332e38;cursor:pointer;border-bottom:1px solid #dee2e6;height:auto}
.admcls .leftSidenav .navigation-left .nav-item:focus,.admcls .leftSidenav .navigation-left .nav-item:active{outline:none}
.admcls .leftSidenav .navigation-left .nav-item.lvl1{text-align:center}
.admcls .leftSidenav .navigation-left .nav-item.active{color:#fb4a32}
.admcls .leftSidenav .navigation-left .nav-item.active .nav-item-hold{color:#fb4a32}
.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold{display:block;width:100%;padding:26px 0;color:#47404f}
.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold img{max-width:100%!important;width:inherit!important}
.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold:focus,.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold:active{outline:none}
.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold .nav-icon,.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold .feather{font-size:32px;height:32px;width:32px;display:block;margin:0 auto 6px}
.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold .nav-text{font-size:13px;display:block;font-weight:400}
.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold a{color:#332e38}
.admcls .leftSidenav .navigation-left .nav-item.active .triangle{position:absolute;width:0;height:0;right:0;bottom:0;border-style:solid;border-width:0 0 30px 30px;border-color:transparent transparent #fb4a32}
.admcls .leftSidenav .navigation-left .nav-item:hover .triangle{position:absolute;width:0;height:0;right:0;bottom:0;border-style:solid;border-width:0 0 30px 30px;border-color:transparent transparent #fb4a32}
.admcls .leftSidenav-secondary{left:calc(-220px - 20px);z-index:89;width:220px;padding:.75rem 0;transition:all .24s ease-in-out;background:#fff}
.admcls .leftSidenav-secondary.open{left:75px}
.admcls .leftSidenav-secondary header{display:none}
.admcls .leftSidenav-secondary .childNav{list-style:none;padding:0;display:none}
.admcls .leftSidenav-secondary .childNav li.nav-item{display:block}
.admcls .leftSidenav-secondary .childNav li.nav-item a{color:#332e38;text-transform:capitalize;display:flex;align-items:center;font-size:13px;cursor:pointer;padding:12px 24px;transition:.15s all ease-in}
.admcls .leftSidenav-secondary .childNav li.nav-item a:hover{background:#eee}
.admcls .leftSidenav-secondary .childNav li.nav-item a.open{color:#fb4a32}
.admcls .leftSidenav-secondary .childNav li.nav-item a .nav-icon{font-size:18px;margin-right:8px;vertical-align:middle;color:#70657b}
.admcls .leftSidenav-secondary .childNav li.nav-item a .item-name{vertical-align:middle;font-weight:400}
.admcls .leftSidenav-secondary .childNav li.nav-item a .dd-arrow{margin-left:auto;font-size:11px;transition:all .3s ease-in}
.admcls .leftSidenav-secondary>.childNav{margin:0}
.admcls .leftSidenav-secondary li.nav-item.open>div>a>.dd-arrow{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.admcls .leftSidenav-secondary li.nav-item.open>div>.childNav{max-height:1000px;overflow:visible}
.admcls .leftSidenav-secondary li.nav-item>div>a>.dd-arrow{transition:all .4s ease-in-out}
.admcls .leftSidenav-secondary li.nav-item>div>.childNav{max-height:0;overflow:hidden;background:#fff;transition:all .4s ease-in-out}
.admcls .leftSidenav-secondary li.nav-item>div>.childNav li.nav-item a{padding:12px 12px 12px 50px}

.admcls .header .toolbar-row .topmenuicon{width:20px;background:#f9f9f9;padding:22px 15px;display:flex;align-items:center;box-shadow:7px 0 24px -11px rgba(50,50,50,0.44);flex-wrap:wrap;justify-content:center}
.admcls .header .toolbar-row .topmenuicon.active .leftSidenav{left:0}
.admcls .header .toolbar-row .topmenuicon div{width:100%;height:1px;background:#47404f;margin:3px 0}
.admcls .header .header-part-right{display:flex;align-items:center}
.admcls .header .header-part-right h4{font-size:16px}
.topmenulist .navigation-left .nav-item .mat-list-item-content{padding:0 20px;}
.admcls .header .header-part-right .header-icon{font-size:18px;cursor:pointer;height:36px;width:36px;line-height:36px;display:inline-block;text-align:center;border-radius:8px;margin:0 2px}
.admcls .header .header-part-right .user img{width:36px;height:36px;border-radius:50%}
.admcls .header .notification-dropdown .dropdown-item{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-webkit-box-direction:normal;-moz-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;align-items:center;padding:0;height:72px;border-bottom:1px solid #dee2e6}
.admcls .header .notification-dropdown .dropdown-item .notification-icon{background:#eee;height:100%;width:44px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-webkit-box-direction:normal;-moz-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;align-items:center;justify-content:center}
.admcls .header .notification-dropdown .dropdown-item .notification-details{padding:.25rem .75rem}
.admcls .dropdown-header{display:block;padding:.5rem 1.5rem;margin-bottom:0;font-size:.711375rem;color:#70657b;white-space:nowrap}
.admcls .dropdown-item{display:block;width:100%;padding:.25rem 1.5rem;clear:both;font-weight:400;color:#47404f;text-align:inherit;white-space:nowrap;background-color:transparent;border:0}

.clear{padding:0!important}

.sidebar-left-secondary .childNav .mat-list-item{display:block}
.sidebar-left-secondary .childNav .mat-list-item a{color:#332e38;text-transform:capitalize;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-webkit-box-direction:normal;-moz-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;align-items:center;font-size:13px;cursor:pointer;padding:12px 24px;transition:.15s all ease-in}
.sidebar-left-secondary .childNav .mat-list-item a .nav-icon{font-size:18px;margin-right:8px;vertical-align:middle;color:#70657b}


.topmenulist .navigation-left{display:flex;flex-wrap:nowrap;align-items:center;justify-content:center;padding-top:0}
.topmenulist .navigation-left a{color:#46464d;font-family:'Helvetica-Regular';font-size:14px;text-transform:capitalize;padding:5px 10px}
.topmenulist .navigation-left a:hover{background:#12c3e3;padding:5px 10px;color:#fff}

.dashboard_block1{border:none!important;background:#fff url(../images/ami_amin_block1bg1.jpg) no-repeat right top!important;margin:0!important;outline:none!important;box-shadow:none!important;padding:48px!important}
.dashboard_block1 mat-card-content{border:none!important;outline:none!important;box-shadow:none!important;width:890px;height:460px;display:table-cell;vertical-align:middle}
.dashboard_block1 mat-card-content h3{font-size:30px;color:#f15b46;margin:0;padding:15px 0}
.dashboard_block1 mat-card-content p{margin:0;padding:0;font-size:15px;color:#222;line-height:24px}
.dashboard_block1 mat-card-content button{background:#38cde8;width:138px;height:46px;display:block;margin:25px 0 0;box-shadow:none;border:none;border-radius:5px;font-size:15px;color:#fff}

.dashboard_block2{border: none!important; background:#fff url("../images/ami_amin_blockbg1.png") no-repeat right center!important; margin: 0!important; outline: none!important; box-shadow:none!important; padding: 0px!important; }
.dashboard_block2 mat-card-content{ border: none!important; outline: none!important; box-shadow:none!important; background: url("../images/ami_amin_blockcon2.png") no-repeat left top!important; min-height: 480px; padding: 48px!important; padding-top: 0px!important;}
.dashboard_block2 mat-card-content h2{ font-size: 40px; color: #343c5c; margin: 0; padding: 0;}
.dashboard_block2 mat-card-content h2:after{ content: ''; display: block; width: 360px; height: 2px; background: #12c3e3;}
.dashboard_block2 mat-card-subtitle{ border: none!important; outline: none!important; box-shadow:none!important; margin: 0px!important; padding: 0px!important; padding-left: 890px!important; padding-top: 20px!important;}
.dashboard_block2_img{ background: #d4d4d4; width: 280px; height: 280px; padding: 18px; display: block; box-shadow: 0 0 5px #ccc; float: left;}
.dashboard_block2_img img{ width: 100%; border: solid 1px #fff; box-shadow: 0 0 5px #ccc;}
.dashboard_block2_text{ display: block; width: 540px; height: 280px; padding: 18px; background: #d4d4d4; box-shadow: 0 0 5px #ccc; float: right;}
.dashboard_block2_text ul{ margin: 0; padding: 0px;}
.dashboard_block2_text ul li{ list-style: none; display: table; height: 60px; margin-top: 14px; background: #bdc3c6; width: 100%;}
.dashboard_block2_text ul li:nth-of-type(1){ margin-top: 0px;}
.dashboard_block2_text ul li label:nth-of-type(1){ margin: 0; padding: 0; display: table-cell; width: 160px; height: 60px; vertical-align: middle;}
.dashboard_block2_text ul li label:nth-of-type(2){ margin: 0; padding: 0; display: table-cell; height: 60px; background: #495158 url("../images/ami_amin_blockcon2_textarrow.png") no-repeat left center; vertical-align: middle; }
.dashboard_block2_text ul li label span{ display: block; padding: 0 20px; font-size: 15px; color: #bdc3c6;}
.dashboard_block2_text ul li label:nth-of-type(1) span{ color: #495158; font-weight: normal;}
.dashboard_block2_text ul li label:nth-of-type(2) span{ padding-left: 50px;}

.dashboard_block3{border: none!important; background: url("../images/ami_amin_blockbg2.png") no-repeat left center!important; margin: 0!important; outline: none!important; box-shadow:none!important; padding: 48px!important; padding-top: 0px!important; margin-top: -60px!important;}
.dashboard_block3 h2{ font-size: 40px; color: #343c5c; margin: 0; padding: 0; display: inline-block; float: left;}
.dashboard_block3 h2:after{ content: ''; display: block; width: 130px; height: 2px; background: #12c3e3;}
.dashboard_block3 .viewlalalbtn3{ background: #38cde8; width: 138px; height: 46px; display: block; margin: 0; box-shadow: none; border: none; border-radius: 5px; font-size: 15px; color: #ffffff; float: right;}
.dashboard_block3 mat-card-subtitle{ width: 23.25%; float: left; margin: 20px 1% 0 0; background: #bdc3c6; padding: 0.5%!important; }
.dashboard_block3 mat-card-subtitle:nth-of-type(4){ margin-right: 0!important;}
.dashboard_block3 .block3carblock{ width: 100%; position: relative; display: block;}
.dashboard_block3 mat-card-subtitle img{ display: block; width: 100%; border: solid 1px #fff; }
.dashboard_block3 mat-card-subtitle .block3span1{display: inline-block; float: left; font-size: 15px; color: #30373d; margin-bottom: 8px;}
.dashboard_block3 mat-card-subtitle .block3span2{display: inline-block; float: right; font-size: 15px; color: #30373d; margin-bottom: 8px;}
.dashboard_block3 mat-card-subtitle .block3span2 strong{ color: #ff2223;}
.dashboard_block3 mat-card-subtitle .block3span3{display: inline-block; float: left; font-size: 15px; color: #30373d; margin-top:17px;}
.dashboard_block3 mat-card-subtitle button{ display: inline-block; float: right; margin-top: 8px; background: rgba(50,57,63,1);
background: -moz-linear-gradient(left, rgba(50,57,63,1) 0%, rgba(76,84,90,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(50,57,63,1)), color-stop(100%, rgba(76,84,90,1)));
background: -webkit-linear-gradient(left, rgba(50,57,63,1) 0%, rgba(76,84,90,1) 100%);
background: -o-linear-gradient(left, rgba(50,57,63,1) 0%, rgba(76,84,90,1) 100%);
background: -ms-linear-gradient(left, rgba(50,57,63,1) 0%, rgba(76,84,90,1) 100%);
background: linear-gradient(to right, rgba(50,57,63,1) 0%, rgba(76,84,90,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32393f', endColorstr='#4c545a', GradientType=1 ); border-radius: 4px; text-align: center; line-height: 40px; text-align: center; border: none; font-size: 15px; color: #fff; padding: 0 30px;}

.dashboard_block4{border: none!important; background: url("../images/ami_amin_blockbg1.png") no-repeat right center!important; margin: 0!important; outline: none!important; box-shadow:none!important; padding: 48px!important; padding-top: 0px!important; }
.dashboard_block4 h2{ font-size: 40px; color: #343c5c; margin: 0; padding: 0; display: inline-block; float: left;}
.dashboard_block4 h2:after{ content: ''; display: block; width: 200px; height: 2px; background: #12c3e3;}
.dashboard_block4 mat-card-subtitle .block3span3{display: block; float: none; margin-top:8px;}

.d_block4_price{ display: block; float: left; width: 130px; line-height: 40px; background: #12c3e3; font-size: 22px; color: #ffffff; text-align: center; padding: 0 4px; margin-top: 8px;}
.d_block4_label{ display: inline-block; float: right; line-height: 40px; background: #8f979b; padding: 0 5px; margin-top: 8px;}
.d_block4_label span{ padding: 0 5px 0 30px; font-size: 14px; color: #ffffff; }
.d_block4_label span:nth-of-type(1){background: url("../images/ami_amin_blockcon4_icon1.png") no-repeat left center!important;}
.d_block4_label span:nth-of-type(2){background: url("../images/ami_amin_blockcon4_icon2.png") no-repeat left center!important;}
.d_block4_label span:nth-of-type(3){background: url("../images/ami_amin_blockcon4_icon4.png") no-repeat left center!important;}

.starimgnew{ width: 43px!important; position: absolute; left: 1px; top:1px; border: none!important;}


@media only screen and (max-width: 1760px) {
.dashboard_block1{ background-position: 790px top!important;}
.dashboard_block1 mat-card-content{ width: 1000px;}
.dashboard_block1 mat-card-content h3 br{ display: none;}
}


@media only screen and (max-width: 1600px) {
.dashboard_block1{ background-position: 660px top!important;}
.dashboard_block1 mat-card-content{ width: 900px;}
}

@media only screen and (max-width: 1500px) {
.dashboard_block1{ background-position: 550px top!important;}
.dashboard_block1 mat-card-content{ width: 800px;}
}


@media only screen and (max-width: 1380px) {
.dashboard_block1{ background-position: 440px top!important;}
.dashboard_block1 mat-card-content{ width: 660px;}
}

@media only screen and (max-width: 1260px) {
.dashboard_block1{ background-position: 370px top!important;}
.dashboard_block1 mat-card-content{ width: 600px;}
}




/* subrata */

.admcls .header .toolbar-row { padding: 0!important; padding-top: 10px!important; }
.adminwrappercls .main-content-wrap .dashboard_body { box-shadow: none!important; padding: 0!important;}
.adminwrappercls .main-content-wrap .dashboard_body .dashboard_welcome_bg {
  background-image: linear-gradient(to right bottom, #bfdff4, #c5e2f4, #cbe4f4, #d0e7f5, #d6e9f5, #d8e9f5, #daeaf4, #dceaf4, #dbe8f3, #dbe7f1, #dae5f0, #d9e4ee);
 }


 .adminwrappercls .main-content-wrap .dashboard_body .dashboard_welcome_bg .top_sec_inner_wrapper {
  background: url(../images/dashboardTopBlockimage.png) no-repeat right bottom;
  background-size: 610px;
  padding: 50px 790px 50px 90px;
}
.dashboard_welcome_bg .top_sec_inner_wrapper .top_sec_title{ line-height: 44px; font-family: "RobotoBold"; font-size: 30px; color:#384a4f; text-transform: uppercase; margin-bottom: 35px; }
.dashboard_welcome_bg .top_sec_inner_wrapper .top_sec_title span{  color:#ff4444; }
.dashboard_welcome_bg .top_sec_inner_wrapper .top_sec_para{  color:#133c58; font-family: "RobotoMedium"; font-size: 26px; line-height: 36px; }

.secnd_content .sec_inner_content{
  width: 1660px; margin: auto; display: flex;
  flex-wrap: wrap;
background-image: linear-gradient(to right, #0b5ba5, #1765af, #216fb9, #2a79c3, #3283cd, #3a8ad2, #4290d8, #4997dd, #519ce0, #5aa1e2, #61a6e5, #69abe7);
}

.secnd_content .sec_inner_content .img_wtp{ display: block; width:30%;  }
.secnd_content .sec_inner_content .img_wtp img{ max-width: 100%; vertical-align: middle;}
.secnd_content .sec_inner_content .content_wtp{ display: block; width: 70%; padding: 0px 50px; box-sizing: border-box; display: flex; justify-content: center; flex-direction: column;}
.secnd_content .sec_inner_content .content_wtp h2{ font-family: "RobotoBold"; font-size: 36px; text-transform: uppercase; }
.secnd_content .sec_inner_content .content_wtp p{ font-family: "RobotoRegular"; font-size: 26px; color:#f5fbff; line-height: 38px; margin: 25px 0; }
.secnd_content .sec_inner_content .content_wtp .cont_actionbtn{
background-image: linear-gradient(to bottom, #89e3f4, #76ddf1, #61d7ee, #48d0eb, #1fcae9); color: #1c1c1c; font-family: "RobotoBold"; font-size:24px;  text-transform: uppercase;
margin-left: auto;
border-radius: 0;
padding: 4px 15px;

}

.recent_article_w{ width: 1660px; margin: 0 auto; }
.recent_article_w .recent_main_content{display: flex; justify-content: space-between; }
.recent_article_w h1{ background: #4a595d; font-family: "RobotoMedium"; color: #fff; padding: 10px 30px; }
.recent_article_w .article_inner{ box-sizing: border-box; background: #0fcaf7; width: 49.6%; min-height: 200px; display: block; padding: 15px; }
.recent_article_w .article_inner .img_wr{ width: 100%; display: block;}
.recent_article_w .article_inner .img_wr img{ max-width: 100%;  }
.recent_article_w .article_inner h3{ margin-top: 16px; color: #fff; font-size: 28px; font-family: "RobotoMedium"; font-weight: normal; line-height: 32px; text-transform: uppercase;}
.recent_article_w .article_inner .sub_header { display: flex; justify-content: space-between; margin: 16px 0; border-bottom: 1px solid #009dc3; padding-bottom: 5px;}
.recent_article_w .article_inner .sub_header span{ display: block; color:#0f3b46; font-family: "RobotoMedium"; font-size: 20px; text-transform: uppercase;  }
.recent_article_w .article_inner .description_text{ margin-bottom: 25px; font-size: 18px; color:#2e2e2e; font-family: "RobotoRegular"; line-height: 26px;  }
.recent_article_w .article_inner .description_text a{ color:#fff;}
.recent_article_w .article_inner .social_share{  display:inline-block; border: 2px solid #fff; border-radius: 3px;}
.recent_article_w .article_inner .social_share button { color: #fff;  border-radius: 0;  padding: 0 10px!important;  min-width: auto;}
.recent_article_w .article_inner .social_share button:nth-child(1){ background: #4e71a8;}
.recent_article_w .article_inner .social_share button:nth-child(2){ background: #1cb7eb;}
.recent_article_w .article_inner .social_share button:nth-child(3){ background: #ca3737;}
.recent_article_w .article_inner .social_share button:nth-child(4){ background: #1686b0;}
.recent_article_w .article_inner .social_share button:nth-child(5){ background: #6e7678;}
.recent_article_w .article_inner .social_share button:nth-child(6){ background: #95d03a;}


.recent_article_w .article_inner .social_share .mat-button .mat-button-wrapper>*, .mat-fab .mat-button-wrapper>*, .mat-flat-button .mat-button-wrapper>*, .mat-icon-button .mat-button-wrapper>*, .mat-mini-fab .mat-button-wrapper>*, .mat-raised-button .mat-button-wrapper>*, .mat-stroked-button .mat-button-wrapper>* {
  vertical-align: initial!important;
}
.recent_article_w .view_all_action { background-color: #ced6d8; }
.recent_article_w .view_all_action .view_all_button{ font-size: 24px; font-family: "RobotoRegular"; color: #0da4c8; border-radius: 0; margin-left: auto; }
.recent_article_w .upcoming_webners { background-color: #4a595d; padding: 13px 25px 18px; height: auto; margin-top: 24px!important;}
.recent_article_w .upcoming_webners span{ font-size: 40px; font-family: "RobotoMedium"; color: #fff; }

.recent_article_w .webiners_banner_wrapper{ display: block;  background: #ff6969; padding: 3px; box-sizing: border-box; }
.recent_article_w .webiners_banner_wrapper .img_wrapper{ background: url("../images/webinerbg.jpg") no-repeat center center; background-size: cover; display: block; height: 197px; }
.recent_article_w .webiners_banner_wrapper .content_section{ display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center; }
.recent_article_w .webiners_banner_wrapper .content_section .date_part{ width: 20%; display: block; }
.recent_article_w .webiners_banner_wrapper .content_section .date_part h2{ font-family: "RobotoBold"; font-size: 48px; color:#fff; }
.recent_article_w .webiners_banner_wrapper .content_section .date_part .date{ font-family: "RobotoMedium"; font-size: 24px; color:#003643; }
.recent_article_w .webiners_banner_wrapper .content_section .date_part .time{ font-family: "RobotoBold"; font-size: 20px; color:#fff; }
.recent_article_w .webiners_banner_wrapper .content_section .content_part{ width: 80%; display: block; }
